@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url("https://fonts.googleapis.com/css?family=Catamaran:900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

html{
  scroll-behavior: smooth;
  scroll-padding: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #050101;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 5, 17, 0.5);
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000000;
  z-index: 999;
}

nav .top {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: #E9EBF8 ;
  font-size: 40px;
}
.logo{
  width: 80px;
  height: 80px;
  left: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 12px 23px;
}

.link {
  height: 30px;
  font-size: 50px;
  align-items: center;
  color: #FEFFFE;
  text-decoration: none;
  display: flex;
  font-weight: bold;
}

.mask {
  position: relative;
  padding: 0;
  height: 20px;
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.titleNav {
  display: block;
  font-size: 20px;
  line-height: 20px;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.link:hover .link-container {
  transform: translateY(-20px);
}

.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

.myImage {
  position: absolute;
  width: 45%;
  height: 80%;
  bottom: 0;
  right: -2%;
}

.myImage img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-40%);
  transition: bottom 2s, left 2s;
}

.shape{
  height: 100%;
}
.dilshan{
  box-shadow: 2px;
}

.myImage:hover .dilshan {
  left: 60%;
}

.myImage:hover .shape {
  left: 45%;
}

.hi{
  position: absolute;
  width: 40%;
  height: 40%;
  bottom: 40%;
  left: 10%;
}

.hi li{
  list-style: none;
}

.wrapper2 {
  height: 10vh;
  display: grid;
  place-items: center;
  position: relative;
  bottom: 58px;
  width: 10ch;
  color: #a25a62;
  animation: typing 2s steps(22) infinite, blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  left: 100px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.li1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: 80px;
  color: #A5A299;
}

.li2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: 60px;
  color: #A5A299;
  height: 80px;
}


.li3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: 60px;
  color: #A5A299;
}


.btn{
  position: relative;
  top: 5%;
}

.social-media-icons {
  position: absolute;
  bottom: 1%;
  left: 8%;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  
}

.icon {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.whatsapp {
  background-color: #25d366;
}

.facebook {
  background-color: #1877f2;
}

.github {
  background-color: #333;
}

.linkedin {
  background-color: #0077b5;
}

.icon:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}


.btnCV{
  position: absolute;
  width: 30%;
  height: 5%;
  bottom: 50px;
  left: 15%;
  
}


.btn a{
  text-decoration: none;
}
button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;

  font-family : "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: #c6d9ec;

  background-color: #156bc1;
  box-shadow: #5485b666 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
}

button:focus {
  outline-color: transparent;
  box-shadow: #156bc1 2px 2px 22px;
}

.right::after,
button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}

.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.right {
  left: 66%;
}

.left {
  right: 66%;
}

.right::after {
  top: -30px;
  left: calc(-66% - 20px);

  background-color: #141218;
  color: transparent;
  transition: transform 0.4s ease-out;
  transform: translate(0, -90%) rotate(0deg);
}

button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg);
}

button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg);
}

button .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg);
}

button::before {
  content: '';
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, #c6d9ec 3px, hsla(210, 50%, 85%, 1) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, #c6d9ec 3px, hsla(210, 50%, 85%, 1) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, #c6d9ec 5px, #c6d9ec 6px, transparent 6px);
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

.divabout{
  position: absolute;
  height: 80vh;
  width: 40%;
  top: 180%;
  left: 10%;
  margin-bottom: 20px;
  padding-top: 50px;
}


.aboutTitle{
  position: absolute;
  width: 160%;
  top: -70%;
  left:18%;
  margin-bottom: 20px;
  color: #E9EBF8;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.about-img-div{
  width: 60%;
  position: relative;
  bottom: 50%;
}
.about-img{
  position: relative;
  height: 70%;
  width: 100%;
  left:15%;
  bottom: 0;
  border: 1px;
  border-radius: 20px;
  
}

.ul-about{
  position: relative;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #A5A299;
  list-style: disc;
  left: 20%;
}

.divabout h2{
  color: #37a6c2;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.details-about{
  position: relative;
  top:-120%;
  left: 95%;
  border: 3px solid rgb(149, 106, 26);
  background-color: rgba(18, 5, 93, 0.4);
  border-style: hidden;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
  text-align: justify;
  height: 70%;
}


.divabout h3{
  position: relative;
  right: 10%;
  color: #f1efea;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}

.skillTitle{
  position: absolute;
  width: 125%;
  top: -20px;
  left: 0%;
  margin-bottom: 20px;
  color: #E9EBF8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);

}

.mySkills{
  position: absolute;
  font-size: 20px;
  width: 55vw;
  height: 10vh;
  bottom: -160%;
  left: 15%;

}

@keyframes appear-skill{
  from{
    opacity: 0.2;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.skil{
  animation: appear-skill linear;
  animation-timeline: view();
  animation-range:entry 0% cover 50%;
}


.wrapper {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 45%;
  height: 500px;
  perspective: none;
}

.flutter{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.java{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
  
}

.figma{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.container {
  position: absolute;
  top: 0%;
  width: 120%;
  height: 130%;
  transition: .5s all ease;
  transform: rotateX(30deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 5px 5px #555;
  animation: entry 1s linear 1;
  border: px solid ;
  border-radius: 20px;
}

#c0 {
  position: absolute;
  top: 0%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 0;
}

#c1 {
  background: linear-gradient(to bottom, #59476f 20%, #7b88d1 100%);
  left: 120%;
  z-index: 0;
}

#c2 {
  left: -120%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(0.8) translateY(10px);
  transition: 0.5s all ease;
  z-index: 0;
  
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to top, #eba65b 30%, #d99267 100%);
}

#i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#i2 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}


.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 10%;
  width: 100%;
  background: linear-gradient(to bottom, #eba65b 0%, #d99267 40%);
  z-index: 30;
}

#s1 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

#s2 {
  background: linear-gradient(to top, #5b62a2 0%, #7b88d1 120%);
}

.skil_section{
  position: relative;
  display: flex;
  top: 1000%;
  align-items: flex-start;
  gap: 14px;
  padding: 4px;
  
}

.skil-content{
  flex:2;
  max-width: 500px;
  font-size: 16px;
}

.skil-content{
  position: relative;
  padding: 20px 70px;
  border-radius: 2rem;
  border: 2px solid #ffffff;
  border: 3px solid wheat;
  background-color: rgba(18, 5, 93, 0.4);
  border-style: hidden;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
  width: 80%;
  left: 30%;
  height: auto;
  padding: 30px;
  box-shadow: #0077b5 2px solid;
}

.skil-name{
  width: 80px;
  font-weight: bold;
  color: #ffffff;
}

.skil-bar {
                                                                                                                                 
  background-color: #ddd;
  height: 8px;
  margin: 0 10px;
  border-radius: 4px;
}

.skil-presentage{
  height: 100%;
  background-color: #3366cc;
  border-radius: 4px;
}

b{
  color: #86be82;
}

.skil-image img{
  height: 50vh;
  width: 30vw;
  border-radius: 2rem;
  left:50px;
  position: relative;
  top: 20vh;
}


.page {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0%;
  height: 20%;
  z-index: 30;
}



.para{
  margin: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  line-height: 25px;
}

h3{
  margin-left: 80px;
}


.education-section {
  position: absolute;
  height: 10%;
  width: 85%;
  bottom: -415%;
  left: 30vh;
  margin-bottom: 20px;
}

.edutile{
  width: 80%;
  position: absolute;
  top: -180%;
  left: 0%;
  margin-bottom: 20px;
  color: #E9EBF8;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.edu{
  color: #A5A299;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  padding-bottom: 100px;
  
}




.education-section h2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
.education-item {
  border: 3px solid wheat;
  background-color: rgba(18, 5, 93, 0.4);
  border-style: hidden;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
  width: 80%;
  height: 330px;
  margin-bottom: 20px;
  box-shadow: #0077b5 2px solid;
}

.education-item h3 {
  position: relative;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #60cfdb;
  left: 10%;
  margin-bottom: 5px;
  font-size: 20px;
}
.education-item p {
  position: relative;
  left: 5%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffffff;
  margin-bottom: 8px;
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}
.education-item h4{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  margin-left: 10px;
}


.uni-img{
  position: relative;
  height: 80%;
  width: 45%;
  top: -50%;
  left: 50%;
  border-radius: 20px;
}
.richmond-img{
  position: relative;
  height: 80%;
  width: 45%;
  top: -55%;
  left: 50%;
  border-radius: 20px;
}
.ananda-img{
  position: relative;
  height: 80%;
  width: 45%;
  top: -88%;
  left: 50%;
  border-radius: 20px;
}

@keyframes appear{
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.uni-img{
  animation: appear linear;
  animation-timeline: view();
  animation-range:entry 0% cover 50%;
}

.richmond-img{
  animation: appear linear;
  animation-timeline: view();
  animation-range:entry 0% cover 50%;
}
.ananda-img{
  animation: appear linear;
  animation-timeline: view();
  animation-range:entry 0% cover 50%;

}
.education-item h4{
  animation: appear2 linear;
  animation-timeline: view();
  animation-range:entry 0% cover 50%;
}



.Projects{
  position: absolute;
  height: 10%;
  width: 85%;
  bottom: -650%;
  left: 10%;
  margin-bottom: 20px;
}

.pro{
  color: #A5A299;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  padding-bottom: 100px;
  
}


.background-img{
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 30%;
}


.project-title{
  width: 85%;
  position: absolute;
  top: -180%;
  left: 0%;
  margin-bottom: 20px;
  color: #E9EBF8;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.slider_container {
  border-radius: 20px;
  border: #A5A299 5px solid;
  position: relative;
  width: 50%;
  height: 25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.slider {
  position: relative;
  width: 400%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  animation: 20s cubic-bezier(0.3, 0.3, 0.3, 0.3) sliding infinite;
}
.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
}
.slide img {
  bottom: 10px;
  width: 100%;
  height: 100%;
}


@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  
}

.project-des{
  position: relative;
  bottom: 650%;
  left: 60%;
  width: 40%;
  background-color: rgba(18, 5, 93, 0.4);
  border-radius: 20px;
  padding: 10px;
  box-shadow: #0077b5 2px solid;
}

.des-title{
  position: relative;
  color: #A5A299;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  left: 50px;
  
}

.des-info{
  position: relative;
  color: #7b7b7b;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: justify;
}

.btn-project{
  position: relative;
  margin: 10px;
  left: 20%;
}

.project-btn{
  text-decoration: none;
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




/* footer */


.footer{
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: #11053b;
  padding: 10px 30px;
  margin-top: 40px;
  color: #92744d;
  bottom: -800%;


}

.footer-box{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px;
}

.footer-box div{
  width:210px;
}

.footer-box h3{
  font-size: 1.3em;
}

.footer-end{
  font-size: 12px;
  border-top: solid 1px white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-style: oblique;
  color: #6c5e5e;
}

.contact-me{
  font-size: 16px;
  color: #ece3e3;
  font-weight: lighter;
  position: relative;
  text-align: justify;
  top: 3px;
}

.social-media{
  top: 20px;
  position: relative;
  width: 50px;
  left:10%;
}

.social-media h3{
  position: relative;
  right: 50px;
  padding-bottom: 20px;
}

.social-media div a i{
  font-size: 1.5em;
  color: #72703e;
  margin-bottom: 30px;
  padding: 0 10px;
}

.social-media div a i:hover{
  transform: scale(1.4);
  transition: .5s;
}

.footer-contact{
  text-align: center;
}

.footer-contact h3{
  position: relative;
  left: -40px;
  
}

.footer-contact-p{
  font-size: 14px;
  padding-top: 5px;
}


 
@media only screen and (max-width:960px){
  .footer-box div{
      width: 100%;
  }
  
  .footer-box h3{
      text-align: center;
  }

  .icon-section{
      text-align: center;
  }

}